/**********************************************************
  Add Google Fonts
**********************************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
  /* Now 1rem = 1em = 10px */

  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/**********************************************************
  Reset Default Properties End
**********************************************************/

/**********************************************************
  Common Properties to Frequently Used Elements Start
**********************************************************/

img {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-2);
  line-height: 1.4;
}

p {
  font-family: var(--font-family-2);
  line-height: 1.5;
}

/**********************************************************
  Common Properties to Frequently Used Elements End
**********************************************************/

/***********************************************************************************************
  Actual Document Styling Start
***********************************************************************************************/

/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100%;
  background-color: #f1f3f6;
}

/**********************************************************
  nav start
**********************************************************/
nav {
  background-color: #009df8;
  color: white;
  text-align: center;
  padding: 2rem;
  text-transform: capitalize;
}

nav h1 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

nav h6 {
  font-size: 1.5rem;
  font-weight: 500;
}

/**********************************************************
  products-container start
**********************************************************/
.products-conatiner {
  margin: 4rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 3rem;
}

.product-box {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2rem;
}

.product-img-box {
  overflow: hidden;
}

.product-box img {
  transition: all 0.3s ease-out;
}

.product-box:hover img {
  transform: scale(1.1);
}

.product-details {
  padding-top: 2rem;
}

.product-details h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.product-details p {
  font-size: 1.3rem;
  color: grey;
  margin-block: 0.5rem 1rem;
}

.product-details span {
  font-family: var(--font-family-2);
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background-color: #dcdde17b;
}

/**********************************************************
  footer start
**********************************************************/
footer {
  padding: 2rem;
  background-color: #172337;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}
